<%= form_for(listing) do |f| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :card_number %>
    <%= f.number_field :card_number %>
  </div>

  <div class="field">
    <%= f.label :card_name %>
    <%= f.text_field :card_name %>
  </div>

  <div class="field">
    <%= f.label :card_set %>
    <%= f.text_area :card_set %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :stripe_id %>
    <%= f.number_field :stripe_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
